---
import PhotoCard from './PhotoCard.astro';

interface Props {
  photos: any[];
}

const { photos } = Astro.props;
---

<div class="gallery">
  {photos.map((photo, index) => (
    <PhotoCard {...photo.frontmatter} index={index} />
  ))}
</div>

<style>
  .gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 2rem;
    margin-bottom: 3rem;
  }
  
  @media (max-width: 768px) {
    .gallery {
      grid-template-columns: 1fr;
    }
  }
</style>
